.q-button {
  position: relative;
  display: inline-flex;
  align-items: stretch;
  justify-content: center;
  border-style: solid;
  border-width: var(--q-input-border-width);
  font-family: var(--q-input-font-family);
  font-weight: var(--q-font-weight-semibold);
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0;
  transition:
    var(--q-transition-x-fast) background-color,
    var(--q-transition-x-fast) color,
    var(--q-transition-x-fast) border,
    var(--q-transition-x-fast) box-shadow;
  cursor: pointer;

  &__label {
    .q-icon {
      vertical-align: -2px;
    }
  }
}

.q-button::-moz-focus-inner {
  border: 0;
}

.q-button:focus {
  outline: none;
}

.q-button:focus-visible {
  outline: var(--q-focus-ring);
  outline-offset: var(--q-focus-ring-offset);
}

.q-button--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* When disabled, prevent mouse events from bubbling up */
.q-button--disabled * {
  pointer-events: none;
}

.q-button__prefix,
.q-button__suffix {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  pointer-events: none;
}

/*
   * Standard u-buttons
   */
/* Default */
.q-button--standard.q-button--default {
  background-color: var(--q-color-neutral-0);
  border-color: var(--q-color-neutral-300);
  color: var(--q-color-neutral-700);
}
.q-button--standard.q-button--default:hover:not(.q-button--disabled) {
  background-color: var(--q-color-primary-50);
  border-color: var(--q-color-primary-300);
  color: var(--q-color-primary-700);
}
.q-button--standard.q-button--default:active:not(.q-button--disabled) {
  background-color: var(--q-color-primary-100);
  border-color: var(--q-color-primary-400);
  color: var(--q-color-primary-700);
}
/* Primary */
.q-button--standard.q-button--primary {
  background-color: var(--q-color-primary-600);
  border-color: var(--q-color-primary-600);
  color: var(--q-color-neutral-1000);
}
.q-button--standard.q-button--primary:hover:not(.q-button--disabled) {
  background-color: var(--q-color-primary-500);
  border-color: var(--q-color-primary-500);
  color: var(--q-color-neutral-1000);
}
.q-button--standard.q-button--primary:active:not(.q-button--disabled) {
  background-color: var(--q-color-primary-600);
  border-color: var(--q-color-primary-600);
  color: var(--q-color-neutral-0);
}
/* Success */
.q-button--standard.q-button--success {
  background-color: var(--q-color-success-600);
  border-color: var(--q-color-success-600);
  color: var(--q-color-neutral-0);
}
.q-button--standard.q-button--success:hover:not(.q-button--disabled) {
  background-color: var(--q-color-success-500);
  border-color: var(--q-color-success-500);
  color: var(--q-color-neutral-0);
}
.q-button--standard.q-button--success:active:not(.q-button--disabled) {
  background-color: var(--q-color-success-600);
  border-color: var(--q-color-success-600);
  color: var(--q-color-neutral-0);
}
/* Neutral */
.q-button--standard.q-button--neutral {
  background-color: var(--q-color-neutral-600);
  border-color: var(--q-color-neutral-600);
  color: var(--q-color-neutral-0);
}
.q-button--standard.q-button--neutral:hover:not(.q-button--disabled) {
  background-color: var(--q-color-neutral-500);
  border-color: var(--q-color-neutral-500);
  color: var(--q-color-neutral-0);
}
.q-button--standard.q-button--neutral:active:not(.q-button--disabled) {
  background-color: var(--q-color-neutral-600);
  border-color: var(--q-color-neutral-600);
  color: var(--q-color-neutral-0);
}
/* Warning */
.q-button--standard.q-button--warning {
  background-color: var(--q-color-warning-600);
  border-color: var(--q-color-warning-600);
  color: var(--q-color-neutral-0);
}
.q-button--standard.q-button--warning:hover:not(.q-button--disabled) {
  background-color: var(--q-color-warning-500);
  border-color: var(--q-color-warning-500);
  color: var(--q-color-neutral-0);
}
.q-button--standard.q-button--warning:active:not(.q-button--disabled) {
  background-color: var(--q-color-warning-600);
  border-color: var(--q-color-warning-600);
  color: var(--q-color-neutral-0);
}
/* Danger */
.q-button--standard.q-button--danger {
  background-color: var(--q-color-danger-600);
  border-color: var(--q-color-danger-600);
  color: var(--q-color-neutral-0);
}
.q-button--standard.q-button--danger:hover:not(.q-button--disabled) {
  background-color: var(--q-color-danger-500);
  border-color: var(--q-color-danger-500);
  color: var(--q-color-neutral-0);
}
.q-button--standard.q-button--danger:active:not(.q-button--disabled) {
  background-color: var(--q-color-danger-600);
  border-color: var(--q-color-danger-600);
  color: var(--q-color-neutral-0);
}
/*
   * Outline u-buttons
   */
.q-button--outline {
  background: none;
  border: solid 1px;
}
/* Default */
.q-button--outline.q-button--default {
  border-color: var(--q-color-neutral-300);
  color: var(--q-color-neutral-700);
}
.q-button--outline.q-button--default:hover:not(.q-button--disabled),
.q-button--outline.q-button--default.q-button--checked:not(.q-button--disabled) {
  border-color: var(--q-color-primary-600);
  background-color: var(--q-color-primary-600);
  color: var(--q-color-neutral-0);
}
.q-button--outline.q-button--default:active:not(.q-button--disabled) {
  border-color: var(--q-color-primary-700);
  background-color: var(--q-color-primary-700);
  color: var(--q-color-neutral-0);
}
/* Primary */
.q-button--outline.q-button--primary {
  border-color: var(--q-color-primary-600);
  color: var(--q-color-primary-600);
}
.q-button--outline.q-button--primary:hover:not(.q-button--disabled),
.q-button--outline.q-button--primary.q-button--checked:not(.q-button--disabled) {
  background-color: var(--q-color-primary-600);
  color: var(--q-color-neutral-0);
}
.q-button--outline.q-button--primary:active:not(.q-button--disabled) {
  border-color: var(--q-color-primary-700);
  background-color: var(--q-color-primary-700);
  color: var(--q-color-neutral-0);
}
/* Success */
.q-button--outline.q-button--success {
  border-color: var(--q-color-success-600);
  color: var(--q-color-success-600);
}
.q-button--outline.q-button--success:hover:not(.q-button--disabled),
.q-button--outline.q-button--success.q-button--checked:not(.q-button--disabled) {
  background-color: var(--q-color-success-600);
  color: var(--q-color-neutral-0);
}
.q-button--outline.q-button--success:active:not(.q-button--disabled) {
  border-color: var(--q-color-success-700);
  background-color: var(--q-color-success-700);
  color: var(--q-color-neutral-0);
}
/* Neutral */
.q-button--outline.q-button--neutral {
  border-color: var(--q-color-neutral-600);
  color: var(--q-color-neutral-600);
}
.q-button--outline.q-button--neutral:hover:not(.q-button--disabled),
.q-button--outline.q-button--neutral.q-button--checked:not(.q-button--disabled) {
  background-color: var(--q-color-neutral-600);
  color: var(--q-color-neutral-0);
}
.q-button--outline.q-button--neutral:active:not(.q-button--disabled) {
  border-color: var(--q-color-neutral-700);
  background-color: var(--q-color-neutral-700);
  color: var(--q-color-neutral-0);
}
/* Warning */
.q-button--outline.q-button--warning {
  border-color: var(--q-color-warning-600);
  color: var(--q-color-warning-600);
}
.q-button--outline.q-button--warning:hover:not(.q-button--disabled),
.q-button--outline.q-button--warning.q-button--checked:not(.q-button--disabled) {
  background-color: var(--q-color-warning-600);
  color: var(--q-color-neutral-0);
}
.q-button--outline.q-button--warning:active:not(.q-button--disabled) {
  border-color: var(--q-color-warning-700);
  background-color: var(--q-color-warning-700);
  color: var(--q-color-neutral-0);
}
/* Danger */
.q-button--outline.q-button--danger {
  border-color: var(--q-color-danger-600);
  color: var(--q-color-danger-600);
}
.q-button--outline.q-button--danger:hover:not(.q-button--disabled),
.q-button--outline.q-button--danger.q-button--checked:not(.q-button--disabled) {
  background-color: var(--q-color-danger-600);
  color: var(--q-color-neutral-0);
}
.q-button--outline.q-button--danger:active:not(.q-button--disabled) {
  border-color: var(--q-color-danger-700);
  background-color: var(--q-color-danger-700);
  color: var(--q-color-neutral-0);
}
/*
   * Text u-buttons
   */
.q-button--text {
  background-color: transparent;
  border-color: transparent;
  color: var(--q-color-neutral-700);
}
.q-button--text:hover:not(.q-button--disabled) {
  background-color: transparent;
  border-color: transparent;
  color: var(--q-color-primary-500);
  cursor: pointer;
}
.q-button--text:focus-visible:not(.q-button--disabled) {
  background-color: transparent;
  border-color: transparent;
  color: var(--q-color-primary-500);
}
.q-button--text:active:not(.q-button--disabled) {
  background-color: transparent;
  border-color: transparent;
  color: var(--q-color-primary-700);
}
/*
   * Link u-buttons
   */
.q-button--link {
  background-color: transparent;
  border-color: transparent;
  color: var(--q-color-primary-600);
}
.q-button--link:hover:not(.q-button--disabled) {
  background-color: transparent;
  border-color: transparent;
  color: var(--q-color-primary-500);
  cursor: pointer;
}
.q-button--link:focus-visible:not(.q-button--disabled) {
  background-color: transparent;
  border-color: transparent;
  color: var(--q-color-primary-500);
}
.q-button--link:active:not(.q-button--disabled) {
  background-color: transparent;
  border-color: transparent;
  color: var(--q-color-primary-700);
}
/*
   * Size modifiers
   */
.q-button--small {
  font-size: var(--q-button-font-size-small);
  height: var(--q-input-height-small);
  line-height: calc(var(--q-input-height-small) - var(--q-input-border-width) * 2);
  border-radius: var(--q-input-border-radius-small);
}
.q-button--medium {
  font-size: var(--q-button-font-size-medium);
  height: var(--q-input-height-medium);
  line-height: calc(var(--q-input-height-medium) - var(--q-input-border-width) * 2);
  border-radius: var(--q-input-border-radius-medium);
}
.q-button--large {
  font-size: var(--q-button-font-size-large);
  height: var(--q-input-height-large);
  line-height: calc(var(--q-input-height-large) - var(--q-input-border-width) * 2);
  border-radius: var(--q-input-border-radius-large);
}
/*
   * Pill modifier
   */
.q-button--pill.q-button--small {
  border-radius: var(--q-input-height-small);
}
.q-button--pill.q-button--medium {
  border-radius: var(--q-input-height-medium);
}
.q-button--pill.q-button--large {
  border-radius: var(--q-input-height-large);
}
/*
   * Circle modifier
   */
.q-button--circle {
  padding-left: 0;
  padding-right: 0;
}
.q-button--circle.q-button--small {
  width: var(--q-input-height-small);
  border-radius: 50%;
}
.q-button--circle.q-button--medium {
  width: var(--q-input-height-medium);
  border-radius: 50%;
}
.q-button--circle.q-button--large {
  width: var(--q-input-height-large);
  border-radius: 50%;
}
.q-button--circle .q-button__prefix,
.q-button--circle .q-button__suffix,
.q-button--circle .q-button__caret {
  display: none;
}
/*
   * Caret modifier
   */
.q-button--caret .q-button__caret {
  display: flex;
  align-items: center;
}

.q-button--caret .q-button__caret svg {
  width: 1em;
  height: 1em;
}
/*
   * Loading modifier
   */
.q-button--loading {
  position: relative;
  cursor: wait;
}
.q-button--loading .q-button__prefix,
.q-button--loading .q-button__label,
.q-button--loading .q-button__suffix,
.q-button--loading .q-button__caret {
  visibility: hidden;
}
.q-button--loading .q-spinner {
  --indicator-color: currentColor;
  position: absolute;
  font-size: 1em;
  height: 1em;
  width: 1em;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
}

/*
   * u-button spacing
   */
.q-button--label.q-button--small .q-button__label {
  display: flex;
  align-items: center;
  padding: 0 var(--q-spacing-small);
}
.q-button--label.q-button--medium .q-button__label {
  padding: 0 var(--q-spacing-medium);
}
.q-button--label.q-button--large .q-button__label {
  padding: 0 var(--q-spacing-large);
}
.q-button--prefix.q-button--small {
  padding-inline-start: var(--q-spacing-x-small);
}
.q-button--prefix.q-button--small .q-button__label {
  padding-inline-start: var(--q-spacing-x-small);
}
.q-button--prefix.q-button--medium {
  padding-inline-start: var(--q-spacing-small);
}
.q-button--prefix.q-button--medium .q-button__label {
  padding-inline-start: var(--q-spacing-small);
}
.q-button--prefix.q-button--large {
  padding-inline-start: var(--q-spacing-small);
}
.q-button--prefix.q-button--large .q-button__label {
  padding-inline-start: var(--q-spacing-small);
}
.q-button--suffix.q-button--small,
.q-button--caret.q-button--small {
  padding-inline-end: var(--q-spacing-x-small);
}
.q-button--suffix.q-button--small .q-button__label,
.q-button--caret.q-button--small .q-button__label {
  padding-inline-end: var(--q-spacing-x-small);
}
.q-button--suffix.q-button--medium,
.q-button--caret.q-button--medium {
  padding-inline-end: var(--q-spacing-small);
}
.q-button--suffix.q-button--medium .q-button__label,
.q-button--caret.q-button--medium .q-button__label {
  padding-inline-end: var(--q-spacing-small);
}
.q-button--suffix.q-button--large,
.q-button--caret.q-button--large {
  padding-inline-end: var(--q-spacing-small);
}
.q-button--suffix.q-button--large .q-button__label,
.q-button--caret.q-button--large .q-button__label {
  padding-inline-end: var(--q-spacing-small);
}

.q-button__caret.q-icon {
  transform: rotate(90deg);
  top: -4px;
  position: relative;
  height: unset;
}
